*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.h{display: flex;}
nav{display: flex;}
ul li{list-style: none;}
a{text-decoration: none;
font-size: 25px;
padding: 0 20px;
color: black;}
.img{
    background: url(../img.jpg);
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}
.bg-color{
    text-align: center;
    margin: 20% 30%;
}
